node_modules
dist
.cache
.idea
*.csv
dexie-cloud.key
dexie-cloud.json
.DS_Store
resources/.DS_Store
resources/assets/.DS_Store
resources/scripts/credentials.json
resources/scripts/token.json
resources/outputs/
